#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  color: #0a0908;
  background-color: #fcfffc;
}

main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 45px;
}

.input {
  grid-column: 1 / 2;
  width: 290px;
}

.output {
  grid-column: 2 / 3;
}

.item-wrapper button {
  padding: 4px 8px;
  font-size: 20px;
  height: 36px;
  width: 36px;
}

.input button {
  background-color: #ea2b1f;
  color: #fcfffc;
}
