input,
textarea {
  display: block;
  font-family: inherit;
  width: 206px;
}

label {
  text-align: left;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-card {
  /* background-color: #f0f0c9;
  background-color: #f0f0c4; */
  box-shadow: 0 0 10px rgba(65, 65, 65, 0.151);
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
}
