.resume {
  width: 210mm;
  height: 297mm;
  box-shadow: 0 0 10px rgba(65, 65, 65, 0.151);
  padding: 1in;
}

header {
  text-align: center;
}

.personal-info-row {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.personal-info-row span {
  display: flex;
  align-items: center;
  padding-right: 6px;
}

.education p,
.professional p {
  display: flex;
  justify-content: space-between;
}
